.signUp {
  color: #000;
  position: relative;
  top: 180px;
  display: flex;
  justify-content: center;

  width: 100%;
}
form {
  //   align-self: center;
  width: 360px;
  text-align: center;
  h1 {
    margin-bottom: 20px;
    letter-spacing: 2px;
    user-select: none;
  }
}
.signUp_google {
  user-select: none;
  transition: all 0.2s ease-in-out;
  transform: translateY(0);
  cursor: pointer;
  background-color: white;
  border: 0.15em solid #000;
  border-radius: 8px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  // white-space: nowrap;
  overflow: hidden;
  padding: 2px 10px;
  align-items: center;
  cursor: inherit;
  height: 48px;

  img {
    height: 36px;
    margin-right: 8px;
  }
  h2 {
    font-size: 1em;
    margin-bottom: 2px;
  }
}
.signUp_google:hover {
  cursor: pointer;
  transform: translateY(-4px);
  transition: transform 0.2s ease-in-out;
}
.signUp_google:active {
  transition: transform 0.2s ease-in-out;
  transform: translateY(1px);
}
.signUp_input {
  display: flex;
  flex-direction: column;
  input:invalid {
    outline: none;
  }
  input {
    border: 2px solid #000;
    border-radius: 5px;
    height: 50px;
    line-height: normal;
    display: block;
    width: 100%;
    padding-left: 12px;
    box-sizing: border-box;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    font-size: 16px;
    padding-right: 4px;
    outline: none;
  }
  .space_line {
    margin: 0 0 20px 0;
  }
  .signUp_input_email {
  }
  .signUp_input_password {
  }
}
.signUp_submit {
  transition: all 0.2s ease-in-out;
  user-select: none;
  transform: translateY(0);
  border: none;
  margin-top: 20px;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  background-color: #000;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 20px;
  font-weight: 700;
}
.signUp_submit:hover {
  transition: transform 0.2s ease-in-out;

  transform: translateY(-4px);
}
.signUp_submit:active {
  transition: transform 0.2s ease-in-out;
  transform: translateY(1px);
}
.signUp_infor {
  font-size: 13px;
  opacity: 0.8;
  margin-top: 20px;
}
.signUp_signOn {
  color: blue;
  margin: 20px 0;
  span {
    margin: 8px;
    display: block;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }
  span:hover {
    text-decoration: underline;
    transition: all 0.1s ease-in-out;
  }
}
.signUp_logIn {
  color: blue;
  margin-left: 4px;
}
.signUp_logIn:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.hidden {
  opacity: 0.2;
  border: none;
  margin-top: 20px;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  background-color: #000;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 20px;
  font-weight: 700;
}

.signUp_another {
  display: flex;
  justify-content: center;
  .signUp_another_logo {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 0 20px;

    width: 60px;
    height: 32px;
    border-radius: 4px;
    i {
      color: white;
      line-height: 30px;
    }
    img {
      height: 30px;
    }
    transition: all 0.15s linear;
  }
  .signUp_another_logo:hover {
    transition: all 0.15s linear;
    transform: translateY(-2px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  }
}
