* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-family: 'Times New Roman', Times, serif;
}

.clear {
    clear: both;
}

.height-48 {
    height: 48px;
}

.height-30 {
    height: 30px
}

.pdbt-16 {
    padding-bottom: 16px;
}

.price {
    width: 1205px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}

.out-line {


    color: #000;
    padding: 0 24px;
}

td {
    height: 25px;
}

h1,
h2 {
    text-align: center;
    margin: 16px 0;
    text-transform: uppercase;
    font-size: 30px;
}

h2 {
    padding-top: 16px;
}

h4 {
    padding-bottom: 24px;
}


table {

    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 24px;
    border: 1px solid #000;
    border-collapse: collapse;
}

p {
    text-align: center;
    padding-bottom: 80px;
    font-size: 17px;
    font-style: italic;
}

thead th {
    height: 40px;
    background: rgba(228, 96, 0, 0.70);

}

thead td {
    background: rgba(228, 96, 0, 0.70);
}

td {
    text-align: center;
}

.warning li {
    list-style-type: auto;
    padding-bottom: 4px;
}

.warning {
    margin-bottom: 16px;
}